/*@import "compass/css3";*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  margin: 0;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: deepskyblue;
  height: 45px;
}

.menu-icon {
  display: block;
  font-size: 40px;
  align-self: center;
  padding-right: 10px;
}

.wrapper {
  display: none;
  list-style: none;
}

.wrapper a {
  display: block;
  text-decoration: none;
  padding: 1em;
  font-size: 15px;
  text-align: center;
  color: white;
/*  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.nav-item:last-of-type {
  border-bottom: none;
}



@media all and (min-width: 540px) {
  .menu-icon {
    display: none;
  }
  .wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  .wrapper li:hover {
    background-color: green;
  }
}

@media all and (min-width: 980px) {
  .wrapper {
    justify-content: flex-end;
  }
}