/*@import "compass/css3";*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  margin: 0;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: deepskyblue;
  height: 45px;
}

.menu-icon {
  text-align: right;
  clear: both;
  display: block;
  font-size: 40px;
  background-color: deepskyblue;
  transition: all .1s linear;
}

.menu-icon:hover {
  cursor: pointer;
}


.wrapper {
  display: none;
  list-style: none;
}

.wrapper a {
  display: block;
  text-decoration: none;
  padding: 1em;
  font-size: 15px;
  text-align: center;
  color: white;
}

.wrapper-opened {
  transition: all 1s linear;
  display: flex;
  margin: 0;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding-left: 0;
}

.wrapper-opened a {
  background-color: deepskyblue;
  text-decoration: none;
  padding: 1em;
  font-size: 15px;
  text-align: center;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: all .7s linear;
/*  transition-all: all;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
}


.wrapper a:last-of-type {
  border-bottom: none;
}


@media only screen and (min-width: 40.063em) {
  .menu-icon {
    display: none;
  }
  .wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  .wrapper li:hover {
    background-color: green;
  }
}

@media only screen and (min-width: 64.063em) {
  .wrapper {
    justify-content: flex-end;
  }
}