
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
/*@import "compass/css3";*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: #E84545;
  color: #E84545;
  font-family: 'Oswald', sans-serif;
  line-height: 2em;
  text-transform: uppercase;
}


.wrapper {
  display: flex;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-right: 15px;
  justify-content: flex-end;
}

.navBar {
  background-color: #53354A;
  position: fixed;
  min-width: 100%;
}

nav ul {
  display: block;
  height: 0;
  opacity: 0;
  text-align: center;
  /*transition: all 1s ease;*/
  visibility: hidden;
  width: 100%;
}

nav ul li a {
  color: #E84545;
}

nav ul li {
  border-bottom: 2px solid #E84545;
  color: #E84545;
  display: block;
  font-size: 1.5em;
  padding: 2em 0;
}

#menu-toggle:checked ~ ul {
  opacity: 1;
  height: 100vh;
  transition: all 1s ease;
  visibility: visible;
}

#menu-toggle {
  display: none;
}

.label-toggle {
  background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
  cursor: pointer;
  display: block;
  height: 35px;
  margin-top: 1em;
  width: 35px;
  order: 1;
  margin-right: 10px;
}

@media only screen and (min-width: 40.063em) {
  nav ul {
    display: flex;
    justify-content: space-around;
    visibility: visible;
    transition: none;
    opacity: 1;
    /*height: 15%;*/
  }
  nav ul li {
    border-bottom: none;
    font-size: 1.5em;
    padding: 5px;
  }
  .label-toggle {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (min-width: 64.063em) {
  nav ul {
    justify-content: flex-end;
  }
  nav ul li {
    padding-left: 10px;
    padding-right: 10px;
  }
}